@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
    font-family: 'Comfortaa', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100vh;

}
.hex-code{
    text-align: center;
}
.hex-code h1{
    text-transform: uppercase;
    animation: colorChange 7s infinite alternate;
    font-size: 2rem;
}
.hex-code h2{
    font-size: 2rem;
    margin-top: 15%;
}
.btn{
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border: 1px solid transparent;
    padding: 6px;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-align: center;
}
@keyframes colorChange {
    0%{
        color: yellow;
    }
    20%{
        color: indigo;
    }
    40%{
        color: red;
    }
    60%{
        color: green;
    }
    80%{
        color: blue;
    }
    100%{
        color: aquamarine;
    }
}

@media (max-width:480px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
}